@model Navbar

<aside class="sidebar">
    <h2 class="txt-center">@Model.MainTitle</h2>
    <hr style="border-top: 1px solid #ccc;" />
    <ul class="custom-menu-elements">
        @foreach(var item in Model.NavbarItems)
        {
            if (string.IsNullOrEmpty(item.ElementId)) 
            {
                <li><a asp-action="@item.Action" asp-controller="@item.Controller">@item.Title</a></li>
            }
            else
            {
                <li><a class="button" id="@item.ElementId">@item.Name</a></li>
            }
        }
    </ul>
</aside>