@model TeamDto
@{
    Layout = "_MainLayout";
}

<main class="content">
    <div class="header">
        <div class="create-btn">
            <button type="button" data-bs-toggle="modal" data-bs-target="#projectModal">Create New Project</button>
        </div>
        <div>
            <img src="https://i.pravatar.cc/40" alt="User" style="border-radius: 50%">
        </div>
    </div>
    <div class="overview">
        <div class="card">
            <h3>Projects</h3>
            <p><strong>@Model.Projects.Count</strong></p>
            <small>0 Completed</small>
        </div>
        <div class="card">
            <h3>Employees</h3>
            <p><strong>@Model.Users.Count</strong></p>
            <small>100% Available</small>
        </div>
        <div class="card">
            <h3>Test</h3>
            <p><strong>Test</strong></p>
            <small>Test</small>
        </div>
    </div>
    <div class="projects-section">
        <table>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Hours</th>
                    <th>Priority</th>
                    <th>Project Details</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projects)
                {
                    <tr>
                        <td>@item.ProjectName</td>
                        <td>@item.ProjectDesc</td>
                        <td>@item.EstimatedHours</td>
                        <td>
                            @if (@item.Priority.ToString() == "Low")
                            {
                                <span class="badge low">@item.Priority.ToString()</span>
                            }
                            else if (@item.Priority.ToString() == "Medium")
                            {
                                <span class="badge medium">@item.Priority.ToString()</span>
                            }
                            else
                            {
                                <span class="badge high">@item.Priority.ToString()</span>
                            }
                        </td>
                        <td>
                            <form method="get" asp-action="ProjectMain" asp-controller="Project">
                                <input type="hidden" asp-for="Id" value="@item.Id">
                                <button class="details-button">Details</button>
                            </form>
                        </td>
                        <td><div class="progress-bar"><div class="progress-fill" style="width: 0"></div></div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <!--Project Modal-->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="projectModalLabel">Create New Project</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-action="CreateProject" asp-controller="Dept">
                    <div class="modal-body">
                        <input type="hidden" asp-for="ProjectDto.TeamId" value="@Model.Id">
                        <div class="mb-3">
                            <input type="text" class="form-control" asp-for="ProjectDto.ProjectName" placeholder="Project Name" autocomplete="off" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" asp-for="ProjectDto.ProjectDesc" placeholder="Project Description" autocomplete="off" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" asp-for="ProjectDto.EstimatedHours" placeholder="Estimated Hours" autocomplete="off" required>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" asp-for="ProjectDto.Priority">
                                <option value="@Priority.Low">Low</option>
                                <option value="@Priority.Medium">Medium</option>
                                <option value="@Priority.High">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    window.onclick = function(event) {
      const modal = document.getElementById('projectModal');
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

