@model List<ProjectManagementSystem.Application.Abstractions.Task.Dto.TaskDto>
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/UserView.css">

<aside class="sidebar">
    <ul>
        <li><a asp-action="DeptMain" asp-controller="Dept">Dashboard</a></li>
        <li><a asp-action="DeptCrew" asp-controller="Dept">Crew</a></li>
        <li><a asp-action="GetMyTasks" asp-controller="Project">My Tasks</a></li>
        <li>Documents</li>
    </ul>
</aside>
<main class="content">
    <div class="header">
        <div>
            <img src="https://i.pravatar.cc/40" alt="User" style="border-radius: 50%">
        </div>
    </div>
    <div class="projects-section">
        <h3>Tasks</h3>
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Assigned Employee</th>
                    <th>Task Priority</th>
                    <th>Task Status</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TaskName</td>
                            <td>@item.TaskDesc</td>
                            <td>@item.AppUser?.UserName</td>
                            <td>
                                @if (@item.Priority.ToString() == "Low")
                                {
                                    <span class="badge low">@item.Priority.ToString()</span>
                                }
                                else if (@item.Priority.ToString() == "Medium")
                                {
                                    <span class="badge medium">@item.Priority.ToString()</span>
                                }
                                else
                                {
                                    <span class="badge high">@item.Priority.ToString()</span>
                                }
                            </td>
                            <td>@item.TaskEffort.ToString()</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</main>

