@model List<ProjectManagementSystem.Application.Abstractions.Task.Dto.TaskDto>
@{
    Layout = "_MainLayout";
}

<main class="content">
    <div class="header">
        <div class="create-btn">
            <button style="background-color:white;">Nothing</button>
        </div>
        <div>
            <img src="https://i.pravatar.cc/40" alt="User" style="border-radius: 50%">
        </div>
    </div>
    <div class="projects-section">
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Task Priority</th>
                    <th>Task Status</th>
                    <th colspan="2">Documentation</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TaskName</td>
                            <td>@item.TaskDesc</td>
                            <td>
                                @if (@item.Priority.ToString() == "Low")
                                {
                                    <span class="badge low">@item.Priority.ToString()</span>
                                }
                                else if (@item.Priority.ToString() == "Medium")
                                {
                                    <span class="badge medium">@item.Priority.ToString()</span>
                                }
                                else
                                {
                                    <span class="badge high">@item.Priority.ToString()</span>
                                }
                            </td>
                            <td>@item.State.ToString()</td>
                            @if (item.Documentation == null)
                            {
                                <td colspan="2">
                                    <form method="get" asp-action="CreateDocumentation" asp-controller="Documentation">
                                        <input type="hidden" name="Id" value="@item.Id">
                                        <button>Add Documentation</button>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.Documentation.Header
                                </td>
                                <td>
                                    @item.Documentation.Text
                                </td>
                            }
                            
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</main>

